.theme-dark {
    --background-color: #242222;
    --text-color: white;
    --border-color: white;
}

.theme-light {
    --background-color: white;
    --text-color: black;
    --border-color: black;
}

#main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

body {
    background: var(--background-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    transition: background 1s, color 1s;
}

h1 {
    font-weight: bold;
}

#buttons {
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media only screen and (min-width: 768px) {
	#input-area {
       		width: 50%;
	}
	h1 {
		font-size: 32px;
	}
}

@media only screen and (max-width: 767px) {
	#input-area {
		width: 90%;
	}
	h1 {
		font-size: 20px;
	}
}

#input-area {
    padding: 10px;
    padding-top: 0px;
    text-align: left;
    overflow-wrap:break-word;
}

#output {
    padding-top: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    background: var(--background-color);
    transition: background 1s, color 1s, border 1s;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--text-color);
    resize: vertical;
}

.radio-options {
    padding-top: 10px;
    padding-bottom: 10px;
}

.warning {
    color: red;
    font-weight: bold;
}

#output-warnings {
    font-weight: bold;
    font-size: 16px;
}

.toggle-theme {
    cursor: pointer;
}