@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../vendor/fonts/roboto-v30-latin_latin-ext-regular.woff2') format('woff2');
}  

:root {
    --background-color: #242222;
    --text-color: white;
    --border-color: white;
    --warning-color: #ffa700;
    --button-color: #242222;
    --button-background-color: white;
    --link-color: #3ea6ff;
}

#main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

body {
    background: var(--background-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

h1 {
    font-weight: bold;
    text-align: center;
}

#buttons {
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media only screen and (min-width: 768px) {
	#input-area {
       		width: 50%;
	}
	h1 {
		font-size: 32px;
	}
}

@media only screen and (max-width: 767px) {
	#input-area {
		width: 90%;
	}
	h1 {
		font-size: 20px;
	}
}

#input-area {
    padding: 10px;
    padding-top: 0px;
    text-align: left;
    overflow-wrap:break-word;
}

#output {
    padding-top: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--text-color);
    resize: vertical;
}

.radio-options {
    padding-top: 10px;
    padding-bottom: 10px;
}

.warning {
    color: var(--warning-color);
    font-weight: bold;
}

.output-warning {
    font-weight: bold;
    font-size: 16px;
    display: block;
}

.btn {
	border: 1px solid transparent;
	background-color: var(--button-background-color);
    color: var(--button-color);
	border-radius: .25rem;
	padding: 0.25rem;
	font-size: 1rem;
	font-family: inherit;
}

.btn:hover {
    cursor: pointer;
}

input.btn {
    background-color: #28a745;
    width: 100%;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

#help {
    text-align: center;
}

#help a {
    color: var(--link-color);
}
