<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="{{ static_autoversion('js/main.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_autoversion('css/style.css') }}">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css" integrity="sha512-cHxvm20nkjOUySu7jdwiUxgGy11vuVPE9YeK89geLMLMMEOcKFyS2i+8wo0FOwyQO/bL8Bvq1KMsqK4bbOsPnA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/solid.min.css" integrity="sha512-bdTSJB23zykBjGDvyuZUrLhHD0Rfre0jxTd0/jpTbV7sZL8DCth/88aHX0bq2RV8HK3zx5Qj6r2rRU/Otsjk+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Leaguepedia Scoreboard Parser</title>
</head>
<body class="theme-{{ theme }}">
    <div id="main">
        <h1>Leaguepedia Scoreboard Parser</h1>
        <div id="input-area">
            <div id="buttons">
                <button id="clear-cache" class="btn">Clear Cache</button>
                <button id="clear-prefs" class="btn">Clear User Preferences</button>
                <div tabindex="0" class="toggle-theme" role="button" aria-label="Toggle theme" title="Toggle theme">
                    <i class="fa-solid fa-moon fa-xl"></i>
                </div>
            </div>
            <form id="parser-form" method="post" aria-label="Form used to input the game data to be parsed">
                <label for="ids">IDs</label><br>
                <textarea id="ids" name="ids" required="" spellcheck="false"></textarea><br>
                <div class="radio-options">
                    <span>Game Source</span>
                    <input type="radio" class="source" name="source" value="riot" id="riot"{{ riot_checked }}><label for="riot">Riot</label>
                    <input type="radio" class="source" name="source" value="qq" id="qq"{{ qq_checked }}><label for="qq">QQ</label>
                    <input type="radio" class="source" name="source" value="riot-live" id="riot-live"{{ riotlive_checked }}><label for="riot-live">Riot Live</label>
                    <br>
                    <label for="header">Header</label>
                    <input type="checkbox" class="header" name="header" id="header" value="yes" checked="" aria-describedby="header-desc">
                    <span id="header-desc">Check this only if you are parsing a BO1 or the first game of a series</span>
                    <br>
                    <br>
                    <section aria-labelledby="adv-options-warning">
                        <span class="warning" id="adv-options-warning">Advanced Options (DO NOT ENABLE UNLESS YOU KNOW WHAT YOU ARE DOING!)</span>
                        <br>
                        <label for="skip-queries">Skip queries to the wiki</label>
                        <input type="checkbox" class="skip-queries" name="skip-queries" id="skip-queries" value="yes" aria-describedby="skip-queries-desc">
                        <span id="skip-queries-desc">This will disable player and team disambiguations, as well as the patch for QQ games</span>
                        <br>
                        <label for="wiki-mirror">Get game data from the wiki</label>
                        <input type="checkbox" class="wiki-mirror" name="wiki-mirror" id="wiki-mirror" value="yes">
                    </section>
                </div>
                <div class="submit-button-container">
                    <input type="submit" id="submit" class="btn" title="Parse the games (Alt + P)" value="Parse">
                </div>
            </form>
            <hr>
            <div role="region" id="output" aria-live="polite" aria-label="Parser output"></div>
        </div>
    </div>
</body>
</html>
