<!DOCTYPE html>
<html lang="en">
<head>
    <script src="static/vendor/jquery/jquery-3.7.0.min.js"></script>
    <script src="{{ static_autoversion('js/main.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_autoversion('css/style.css') }}">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="description" content="Scoreboard parser for Leaguepedia | League of Legends Esports wiki.">
    <title>Leaguepedia Scoreboard Parser</title>
</head>
<body>
    <div id="main">
        <h1>Leaguepedia Scoreboard Parser</h1>
        <div id="input-area">
            <div id="buttons">
                <button id="clear-cache" class="btn">Clear Cache</button>
                <button id="clear-prefs" class="btn">Clear User Preferences</button>
            </div>
            <div id="help">
                <span><a href="parser/help" target="_blank" aria-label="Parser usage instructions (opens in new tab)">Parser usage help</a></span>
            </div>
            <form id="parser-form" method="post" aria-label="Form used to input the game data to be parsed">
                <label for="ids">IDs</label><br>
                <textarea id="ids" name="ids" required="" spellcheck="false"></textarea><br>
                <div class="radio-options">
                    <span>Game Source</span>
                    <input type="radio" class="source" name="source" value="riot" id="riot"><label for="riot">Riot</label>
                    <input type="radio" class="source" name="source" value="qq" id="qq"><label for="qq">QQ</label>
                    <input type="radio" class="source" name="source" value="riot-live" id="riot-live"><label for="riot-live">Riot Live</label>
                    <br>
                    <label for="header">Include header</label>
                    <input type="checkbox" class="header" name="header" id="header" value="yes" checked="" aria-describedby="header-desc">
                    <span id="header-desc">Check this only if you are parsing a BO1 or the first game of a series</span>
                    <br>
                    <br>
                    <section aria-labelledby="adv-options-warning">
                        <span class="warning" id="adv-options-warning">Advanced Options (DO NOT ENABLE UNLESS YOU KNOW WHAT YOU ARE DOING!)</span>
                        <br>
                        <label for="skip-queries">Skip queries to the wiki</label>
                        <input type="checkbox" class="skip-queries" name="skip-queries" id="skip-queries" value="yes" aria-describedby="skip-queries-desc">
                        <span id="skip-queries-desc">This will disable player and team disambiguations, as well as the patch for QQ games</span>
                        <br>
                        <label for="wiki-mirror">Get game data from the wiki</label>
                        <input type="checkbox" class="wiki-mirror" name="wiki-mirror" id="wiki-mirror" value="yes">
                    </section>
                </div>
                <div class="submit-button-container">
                    <input type="submit" id="submit" class="btn" title="Parse the games (Alt + P)" value="Parse">
                </div>
            </form>
            <hr>
            <div role="region" id="output" aria-live="polite" aria-label="Parser output"></div>
        </div>
    </div>
</body>
</html>
